<?php $products = json_decode($this->products); foreach($products as $product): ?>
<div class="well well-sm">
  	<div class="inblk">
    	<a class="thumbnail" href="/product/view/<?php echo $product->product_id; ?>" title="<?php echo $product->picture_caption; ?>">
    		<img data-lightbox="<?php echo strtolower(str_replace(" ", "", $product->product_name));?>" src="/uploads/<?php echo $product->picture_name; ?>">
    	</a>
  	</div>
	<div class="inblk" style="width: 625px;">
		<h3 class="text text-info"><a href="/product/view/<?php echo $product->product_id; ?>"><?php echo $product->product_name; ?></a></h3>
		<p class="text text-about"><?php echo nl2br($product->product_desc); ?></p>
		<?php if($product->product_stock > 0): ?>
		<p class="text text-success">&pound;<?php echo $product->product_price; ?></p>
		<p></p>
		<button type="button" onclick="window.location='/product/view/<?php echo $product->product_id; ?>'" class="btn btn-default">View</button>
		<?php else: ?>
		<p class="text text-danger">Out of stock</p>
		<?php endif; ?>
	</div>
</div>
<?php endforeach; ?>