<div class="panel panel-default">
	<div class="panel-heading"><h4>Contact Me</h4></div>
	<?php if(empty($_POST)): ?>
	<form action="/contact.php" method="post">
		<div class="well-sm alert alert-info">Please allow 24 hours for a response.</div>
		<div class="form-group">
			<label for="name">Full Name</label>
			<input type="text" name="name" id="name" class="form-control input-sm" placeholder="John Smith">
		</div>
		<div class="form-group">
			<label for="email">Email Address</label>
			<input type="email" name="email" id="email" class="form-control input-sm" placeholder="j.smith@example.com">
		</div>
		<div class="form-group">
			<label for="subject">Subject</label>
			<input type="text" name="subject" id="subject" class="form-control input-sm" placeholder="Enter a message subject...">
		</div>
		<div class="form-group">
			<label for="message">Message</label>
			<textarea class="form-control input-xl" name="message" id="message" placeholder="Enter your message..."></textarea>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success pull-right">Send Message</button>
			<div class="clearfix"></div>
		</div>
	</form>
	<?php else: ?>
	<div class="alert alert-success">Email successfully sent.</div>
	<?php endif; ?>
</div>
