<?php $cd = $this->session->getSetting("clientdata"); ?>

<?php if(!isset($this->errmsg)): ?>
<?php foreach(json_decode($this->products) as $product): ?>
<div class="well well-sm indexblock">
  	<div>
    	<a class="thumbnail" href="/product/view/<?php echo $product->product_id; ?>" title="<?php echo $product->picture_caption; ?>">
    		<img src="/uploads/<?php echo $product->picture_name; ?>">
    	</a>
  	</div>
	<div class="text">
		<p class="text text-info"><a href="/product/view/<?php echo $product->product_id; ?>"><?php echo $product->product_name; ?></a></p>
		<p class="text text-about"><?php echo substr($product->product_desc, 0, 150); ?></p>
		<p><span class="text text-success">&pound;<?php echo $product->product_price; ?></span></p>
		<a href="/product/view/<?php echo $product->product_id; ?>" class="btn btn-default">View Product</a>
	</div>
</div>
<?php endforeach; ?>
<?php endif; ?>