<?php if(!isset($this->errmsg)): ?>
<?php if(!isset($_GET['id'])): ?>
<?php $ap = count(json_decode($this->allproducts)); $lastpage = ceil($ap / 10) - 1; $pg = $_GET['pg']; ?>
<ul class="pagination pagination-sm">
	<li<?php echo ($_GET['pg'] == '1' ? ' class="disabled"':''); ?>><a href="/product/page/<?php echo $_GET['pg'] - 1; ?>">&lt;</a></li>
	<li<?php if($_GET['pg'] == 1) { echo " class=\"active\""; } ?>><a href="/product/page/1">1</a></li>
	<?php for($i = 2; $i < $lastpage; $i++): ?>
	<li<?php if($_GET['pg'] == $i) { echo " class=\"active\""; } ?>><a href="/product/page/<?php echo $i; ?>"><?php echo $i; ?></a></li>
	<?php endfor; ?>
	<li<?php if($_GET['pg'] == $lastpage) { echo " class=\"active\""; } ?>><a href="/product/page/<?php echo $lastpage; ?>"><?php echo $lastpage; ?></a></li>
	<li<?php echo ($_GET['pg'] == $lastpage ? ' class="disabled"':''); ?>><a href="/product/page/<?php echo $_GET['pg'] + 1; ?>">&gt;</a></li>
</ul>
<?php $products = json_decode($this->products); foreach($products as $product): ?>
<div class="well well-sm">
  	<div class="inblk">
    	<a class="thumbnail" href="/product/view/<?php echo $product->product_id; ?>" title="<?php echo $product->picture_caption; ?>">
    		<img data-lightbox="<?php echo strtolower(str_replace(" ", "", $product->product_name));?>" src="/uploads/<?php echo $product->picture_name; ?>">
    	</a>
  	</div>
	<div class="inblk" style="width: 625px;">
		<h3 class="text text-info inblk"><a href="/product/view/<?php echo $product->product_id; ?>"><?php echo $product->product_name; ?></a></h3>
		<p class="text text-about"><?php echo nl2br($product->product_desc); ?></p>
		<?php if($product->product_stock > 0): ?>
		<p class="text text-success">&pound;<?php echo $product->product_price; ?></p>
		<p></p>
		<button type="button" onclick="window.location='/product/view/<?php echo $product->product_id; ?>'" class="btn btn-default">View</button>
		<?php else: ?>
		<p class="text text-danger">Out of stock</p>
		<?php endif; ?>
	</div>
</div>
<?php endforeach; ?>
<ul class="pagination pagination-sm">
	<li<?php echo ($_GET['pg'] == '1' ? ' class="disabled"':''); ?>><a href="/product/page/<?php echo $_GET['pg'] - 1; ?>">&lt;</a></li>
	<li<?php if($_GET['pg'] == 1) { echo " class=\"active\""; } ?>><a href="/product/page/1">1</a></li>
	<?php for($i = 2; $i < $lastpage; $i++): ?>
	<li<?php if($_GET['pg'] == $i) { echo " class=\"active\""; } ?>><a href="/product/page/<?php echo $i; ?>"><?php echo $i; ?></a></li>
	<?php endfor; ?>
	<li<?php if($_GET['pg'] == $lastpage) { echo " class=\"active\""; } ?>><a href="/product/page/<?php echo $lastpage; ?>"><?php echo $lastpage; ?></a></li>
	<li<?php echo ($_GET['pg'] == $lastpage ? ' class="disabled"':''); ?>><a href="/product/page/<?php echo $_GET['pg'] + 1; ?>">&gt;</a></li>
</ul>
<?php else: ?>
<?php $products = json_decode($this->products); foreach($products as $product): ?>
<div class="well well-sm">
  	<div class="inblk">
    	<a class="thumbnail" data-lightbox="<?php echo $product->cat_id.'.'.$product->product_id;?>" href="/uploads/<?php echo $product->picture_name; ?>"
			title="<?php echo $product->picture_caption; ?>">
    		<img data-lightbox="<?php echo strtolower(str_replace(" ", "", $product->product_name));?>" src="/uploads/<?php echo $product->picture_name; ?>">
    	</a>
  	</div>
	<div class="inblk text">
		<h3 class="text text-info"><?php echo $product->product_name; ?></h3>
		<p class="text text-about"><?php echo nl2br($product->product_desc); ?></p>
		<?php if($product->product_stock > 0): ?>
		<p class="text text-success">&pound;<?php echo $product->product_price; ?></p>
		<?php else: ?>
		<p class="text text-danger">Out of stock</p>
		<?php endif; ?>
	</div>
	<div class="otherpictures thumbnail">
		<?php if(isset($this->picerror)): ?>
    		<div class="alert alert-danger"><?php echo $this->picerror; ?></div>
    	<?php else: ?>
		<div class="dropdown-header"><strong>MORE PICTURES</strong></div>
		<?php $pictures = json_decode($this->pictures); foreach($pictures as $picture): ?>
		<a class="inblk thumbnail" data-lightbox="<?php echo $picture->product_id;?>" href="/uploads/<?php echo $picture->picture_name; ?>"
			title="<?php echo $product->picture_caption; ?>">
    		<img data-lightbox="<?php echo $picture->picture_name; ?>" src="/uploads/<?php echo $picture->picture_name; ?>">
    	</a>
    	<?php endforeach; ?>
    	<?php endif; ?>
	</div>
	<br>
	<?php if($product->product_stock > 0): ?>
	Qty: <input type="text" id="qty" value="1" style="width: 32px;">
	<a href="#" id="addToCart" data-cart="<?php echo $_GET['id']; ?>" onclick="return getQty($('#qty').val())" class="btn btn-success">Add to Cart</a>
	<span id="cartMsg"></span>
	<?php endif; ?>
</div>
<?php endforeach; ?>
<?php endif; endif; ?>