<div class="panel panel-default panel-inside">
	<div class="panel-heading"><h4>Reset Password</h4></div>
	<form action="/pwreset.php" method="post">
		<label for="email">Email Address</label>
		<input type="email" name="email" id="email" class="form-control" placeholder="Email Address...">
	</form>
	<div class="panel-footer">
		<button type="submit" class="btn btn-danger pull-right">Reset Password</button>
		<div class="clearfix"></div>
	</div>
</div>