<form class="signup" method="post" action="<?php echo SYSTEM_URL; ?>signup.php">
	<div class="panel panel-primary panel-inside">
		<div class="panel-heading">Client Details</div>
		<div class="form-group inblk">
			<label for="firstname">First Name</label>
			<input type="text" name="firstname" id="firstname" class="form-control wd-md" placeholder="First Name">
		</div>
		<div class="form-group inblk">
			<label for="lastname">Last Name</label>
			<input type="text" name="lastname" id="lastname" class="form-control wd-md" placeholder="Last Name">
		</div>
		<br>
		<div class="form-group inblk">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control wd-md" placeholder="Password">
		</div>
		<div class="form-group inblk">
			<label for="confirmpassword">Confirm Password</label>
			<input type="password" name="confirmpassword" id="confirmpassword" class="form-control wd-md" placeholder="Confirm Password">
		</div>
		<br>
		<div class="form-group inblk">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" class="form-control wd-md" placeholder="Email">
		</div>
		<div class="form-group inblk">
			<label for="phone">Phone Number (UK Only)</label>
			<input type="text" name="phone" id="phone" class="form-control wd-md" placeholder="Phone Number">
		</div>
	</div>
	<div class="panel panel-success panel-inside">
		<div class="panel-heading">Billing Address</div>
		<div class="form-group inblk">
			<label for="line1">Address Line 1</label>
			<input type="text" name="line1" id="line1" class="form-control wd-md" placeholder="Ex: Cherry House">
		</div>
		<div class="form-group inblk">
			<label for="line2">Address Line 2</label>
			<input type="text" name="line2" id="line2" class="form-control wd-md" placeholder="Ex: 45 Main Street">
		</div>
		<br>
		<div class="form-group inblk">
			<label for="city">City</label>
			<input type="text" name="city" id="city" class="form-control wd-md" placeholder="Ex: London">
		</div>
		<div class="form-group inblk">
			<label for="county">County</label>
			<input type="text" name="county" id="county" class="form-control wd-md" placeholder="Ex: London">
		</div>
		<div class="form-group inblk">
			<label for="country">Country</label>
			<input type="text" name="country" id="country" class="form-control wd-md" placeholder="Ex: United Kingdom">
		</div>
		<br>
		<div class="form-group inblk">
			<label for="postcode">Post/Zip Code</label>
			<input type="text" name="postcode" id="postcode" class="form-control wd-md" placeholder="Ex: E1 3LD">
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success pull-right">Sign Up</button>
			<div class="clearfix"></div>
		</div>
	</div>
</form>