<div class="panel panel-default">
	<div class="panel-heading"><h4>Sign In</h4></div>
	<form method="post" action="<?php echo SYSTEM_URL; ?>signin.php" autocomplete="off">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<?php if(isset($_POST['email'])) { echo $_POST['email']; }?>">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="Password" value="<?php if(isset($_POST['password'])) { echo $_POST['password']; }?>">
		</div>
		<div class="form-group">
			<a href="/signup.php">Sign Up</a> or <a href="/pwreset.php">Reset Password</a>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success pull-right">Sign In</button>
			<div class="clearfix"></div>
		</div>
	</form>
</div>