<?php $cd = $this->session->getSetting("clientdata"); ?>
<!DOCTYPE html>
<html>
	<head>
		<title><?php echo SYSTEM_NAME; ?></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="author" content="Denver Freeburn">
		<meta name="generator" content="<?php echo systemname.' '.systemvers; ?>">
		<link rel="favicon" type="image/jpg" href="<?php echo SYSTEM_URL; ?>asset/styles/<?php echo strtolower(SYSTEM_THEME); ?>/img/logo.jpg">
		<link rel="shortcut icon" type="image/jpg" href="<?php echo SYSTEM_URL; ?>asset/styles/<?php echo strtolower(SYSTEM_THEME); ?>/img/logo.jpg">
		<link rel="stylesheet" type="text/css" href="<?php echo SYSTEM_URL; ?>asset/styles/<?php echo strtolower(SYSTEM_THEME); ?>/core.css">
		<link rel="stylesheet" type="text/css" href="<?php echo SYSTEM_URL; ?>asset/styles/<?php echo strtolower(SYSTEM_THEME); ?>/style.css">
		<link rel="stylesheet" type="text/css" href="/asset/styles/lightbox.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="application/javascript" src="<?php echo SYSTEM_URL; ?>asset/scripts/core.js"></script>
		<script type="application/javascript" src="<?php echo SYSTEM_URL; ?>asset/scripts/jsu.js"></script>
		<script type="application/javascript" src="/asset/scripts/lightbox-2.6.min.js"></script>
		<script type="application/javascript" src="/asset/scripts/modernizr.custom.js"></script>
		<base href="<?php echo SYSTEM_URL;?>">
	</head>
	
	<body>
		<div id="wrap">
			<div id="content">
				<div class="header">
					<div class="well well-sm first-part inblk">
						<div class="logo">
							<img src="<?php echo SYSTEM_URL; ?>asset/styles/<?php echo strtolower(SYSTEM_THEME); ?>/img/logo.png">
						</div>
					</div>
					<div class="well well-sm other-part inblk">
						<div class="contact">
							<p class="p"><?php echo SYSTEM_DESC; ?></p>
							<br>
							<strong>E: <?php echo SYSTEM_EMAIL; ?></strong>
						</div>
					</div>
					<div class="well well-sm cart inblk">
							<div class="dropdown-header"><strong>Information</strong></div>
							<p class="p inblk"><?php /* /cart.php?action=flush*/?>
								<a href="/cart.php">
									<span class="label label-success">View Cart</span>
								</a>
							</p>
							<p class="inblk">
								<?php if(FACEBOOK): ?>
								<a href="<?php echo FACEBOOK; ?>"><span class="label label-primary">Facebook</span></a>
								<?php endif; ?>
								<?php if(TWITTER): ?>
								<a href="<?php echo TWITTER; ?>"><span class="label label-info">Twitter</span></a>
								<?php endif; ?>
							</p>
							<br>
							<strong>P: <?php echo SYSTEM_PHONE; ?></strong>
						</div>
					</div>
				</div>
				<div class="navbar navbar-inverse">
					<ul class="nav navbar-nav">
						<li><a class="navbar-brand" href="/"><?php echo SYSTEM_NAME; ?></a></li>
						<li><a href="/index.php">Home</a></li>
						<li><a href="page.php?p=about">About</a></li>
						<li><a href="products.php">Products</a></li>
						<li><a href="mysupport.php">Support (<?php echo $this->total; ?>)</a></li>
					</ul>
					<ul class="pull-right nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<?php echo $this->creds['client_firstname'].' '.$this->creds['client_lastname']; ?> <b class="caret white"></b>
							</a>
							<ul class="dropdown-menu">
							    <li><a tabindex="-1" href="/account.php?a=view">My Account</a></li>
							    <li><a tabindex="-1" href="/account.php?a=edit">Edit Account</a></li>
							    <li><a tabindex="-1" href="/account.php?a=password">Edit Password</a></li>
							    <li><a tabindex="-1" href="/mysupport.php">Support (<?php echo $this->total; ?>)</a></li>
							    <li><a tabindex="-1" href="/orders.php">My History</a></li>
							    <?php if($this->isAdmin): ?>
							    <li><a href="/admin/"><span class="text text-danger">Admin Panel</span></a></li>
							    <?php endif; ?>
							    <li class="divider"></li>
							    <li><a tabindex="-1" href="/signout.php">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="sidebar inblk">
					<ul class="cats">
						<li class="cat-title">Categories</li>
						<?php foreach($this->cats as $cat): ?>
							<li class="cat-entity"><a href="cat.php?id=<?php echo $cat['cat_id']; ?>"><?php echo $cat['cat_label']; ?></a></li>
						<?php endforeach; ?>
					</ul>
					<ul class="cats">
						<li class="cat-title">Information</li>
						<li class="cat-entity"><a href="/page.php?p=terms">Terms of Use</a></li>
						<li class="cat-entity"><a href="/page.php?p=privacy">Privacy Policy</a></li>
						<li class="cat-entity"><a href="/page.php?p=refunds">Refund Policy</a></li>
					</ul>
				</div>
				<div class="content-wrapper inblk">
					<div id="msglog"></div>
					<?php if(isset($this->errmsg)): ?>
						<div class="alert alert-danger"><?php echo $this->errmsg; ?><button type="button" class="close" data-dismiss="alert">&times;</button></div>
					<?php unset($this->errmsg); endif;?>
					<?php if(isset($this->sucmsg)): ?>
						<div class="alert alert-success"><?php echo $this->sucmsg; ?><button type="button" class="close" data-dismiss="alert">&times;</button></div>
					<?php unset($this->sucmsg); endif; ?>
					
					<?php echo $this->content_for_template; ?>
					<div id="ajaxReturnModule"></div>
					<div id="info"></div>
				</div>
				<div class="footer">
					&copy; <?php echo SYSTEM_NAME; ?> <?php echo date("Y"); ?> - All Rights Reserved.<br />
					<a href="http://github.com/gnrdenver/cisium">Caruca</a> Shopping Cart by <a href="http://denverfreeburn.com">Denver Freeburn</a>. - <a href="/credits.php">Credits</a>
				</div>
			</div>
	<script type="application/javascript">
		<?php echo SYSTEM_ANALYTICS; ?>
	</script>
	</body>
</html>